nodes_modules/
FIN4Contracts/
FIN4OracleEngine1/
FIN4Xplorer1/
FIN4Contracts/.gitignore
FIN4Contracts/LICENSE
FIN4Contracts/package.json
FIN4Contracts/README.md
FIN4Contracts/truffle-config.js
FIN4Contracts/verifiers.js
FIN4Contracts/contracts/Fin4Claiming.sol
FIN4Contracts/contracts/Fin4Collections.sol
FIN4Contracts/contracts/Fin4Groups.sol
FIN4Contracts/contracts/Fin4Main.sol
FIN4Contracts/contracts/Fin4Messaging.sol
FIN4Contracts/contracts/Fin4OracleHub.sol
FIN4Contracts/contracts/Fin4SystemParameters.sol
FIN4Contracts/contracts/Fin4Token.sol
FIN4Contracts/contracts/Fin4TokenBase.sol
FIN4Contracts/contracts/Fin4TokenCreator.sol
FIN4Contracts/contracts/Fin4TokenManagement.sol
FIN4Contracts/contracts/Fin4Underlyings.sol
FIN4Contracts/contracts/Fin4Verifying.sol
FIN4Contracts/contracts/Fin4Voting.sol
FIN4Contracts/contracts/stub/BurningStub.sol
FIN4Contracts/contracts/stub/Fin4BaseVerifierTypeStub.sol
FIN4Contracts/contracts/stub/Fin4ClaimingStub.sol
FIN4Contracts/contracts/stub/MintingStub.sol
FIN4Contracts/contracts/stub/SaveMeTokenStub.sol
FIN4Contracts/contracts/tcr/Parameterizer.sol
FIN4Contracts/contracts/tcr/ParameterizerFactory.sol
FIN4Contracts/contracts/tcr/Registry.sol
FIN4Contracts/contracts/tcr/RegistryFactory.sol
FIN4Contracts/contracts/tcr/PLCR/PLCRFactory.sol
FIN4Contracts/contracts/tcr/PLCR/PLCRVoting.sol
FIN4Contracts/contracts/tcr/PLCR/ProxyFactory.sol
FIN4Contracts/contracts/tcr/PLCR/dependencies/AttributeStore.sol
FIN4Contracts/contracts/tcr/PLCR/dependencies/DLL.sol
FIN4Contracts/contracts/tokens/ERC20Plus.sol
FIN4Contracts/contracts/tokens/GOV.sol
FIN4Contracts/contracts/tokens/REP.sol
FIN4Contracts/contracts/underlyings/BaseSourcerer.sol
FIN4Contracts/contracts/underlyings/BurnSourcerer.sol
FIN4Contracts/contracts/underlyings/MintingSourcerer.sol
FIN4Contracts/contracts/underlyings/SuccessfulClaimNotifierInterface.sol
FIN4Contracts/contracts/underlyings/SwapSourcerer.sol
FIN4Contracts/contracts/underlyings/TestImplOfSuccClaimNotifer.sol
FIN4Contracts/contracts/util/Migrations.sol
FIN4Contracts/contracts/util/strings.sol
FIN4Contracts/contracts/util/Trigonometry.sol
FIN4Contracts/contracts/util/utils.sol
FIN4Contracts/contracts/verifiers/Fin4BaseVerifierType.sol
FIN4Contracts/contracts/verifiers/inactive/Idea.sol
FIN4Contracts/contracts/verifiers/inactive/Location_frontendCalc.sol
FIN4Contracts/contracts/verifiers/inactive/MaximumQuantityPerInterval.sol
FIN4Contracts/contracts/verifiers/inactive/MinimumInterval.sol
FIN4Contracts/contracts/verifiers/inactive/Networking.sol
FIN4Contracts/contracts/verifiers/inactive/SelfieTogether.sol
FIN4Contracts/contracts/verifiers/inactive/SensorOneTimeSignal.sol
FIN4Contracts/contracts/verifiers/inactive/Vote.sol
FIN4Contracts/contracts/verifiers/onchain/interactive/HappyMoment.sol
FIN4Contracts/contracts/verifiers/onchain/interactive/Location.sol
FIN4Contracts/contracts/verifiers/onchain/interactive/Password.sol
FIN4Contracts/contracts/verifiers/onchain/interactive/SelfApprove.sol
FIN4Contracts/contracts/verifiers/onchain/interactive/Statement.sol
FIN4Contracts/contracts/verifiers/onchain/noninteractive/AllowOnlyThese.sol
FIN4Contracts/contracts/verifiers/onchain/noninteractive/Blocker.sol
FIN4Contracts/contracts/verifiers/onchain/noninteractive/BlockThese.sol
FIN4Contracts/contracts/verifiers/onchain/noninteractive/ClaimableOnlyNTimesPerUser.sol
FIN4Contracts/contracts/verifiers/onchain/social/ApprovalByUsersOrGroups.sol
FIN4Contracts/contracts/verifiers/onchain/social/LimitedVoting.sol
FIN4Contracts/contracts/verifiers/onchain/social/PictureGivenApprovers.sol
FIN4Contracts/contracts/verifiers/onchain/social/PictureSelfChosenApprover.sol
FIN4Contracts/contracts/verifiers/onchain/social/PictureVoting.sol
FIN4Contracts/contracts/verifiers/onchain/social/SpecificAddress.sol
FIN4Contracts/contracts/verifiers/onchain/social/TokenCreatorApproval.sol
FIN4Contracts/contracts/verifiers/onchain/social/VideoVoting.sol
FIN4Contracts/migrations/1_initial_migration.js
FIN4Contracts/migrations/2_deploy_contracts.js
FIN4Contracts/migrations/3_deploy_tcr.js
