nodes_modules/.gitignore
FIN4Contracts/
FIN4OracleEngine1/
FIN4Xplorer1/
FIN4Contracts/.gitignore
.vscode/.gitignore
FIN4Contracts/LICENSE
FIN4Contracts/package.json
FIN4Contracts/README.md
FIN4Contracts/truffle-config.js
FIN4Contracts/verifiers.js
FIN4Contracts/contracts/Fin4Claiming.sol
FIN4Contracts/contracts/Fin4Collections.sol
FIN4Contracts/contracts/Fin4Groups.sol
FIN4Contracts/contracts/Fin4Main.sol
FIN4Contracts/contracts/Fin4Messaging.sol
FIN4Contracts/contracts/Fin4OracleHub.sol
FIN4Contracts/contracts/Fin4SystemParameters.sol
FIN4Contracts/contracts/Fin4Token.sol
FIN4Contracts/contracts/Fin4TokenBase.sol
FIN4Contracts/contracts/Fin4TokenCreator.sol
FIN4Contracts/contracts/Fin4TokenManagement.sol
FIN4Contracts/contracts/Fin4Underlyings.sol
FIN4Contracts/contracts/Fin4Verifying.sol
FIN4Contracts/contracts/Fin4Voting.sol
FIN4Contracts/contracts/stub/BurningStub.sol
FIN4Contracts/contracts/stub/Fin4BaseVerifierTypeStub.sol
FIN4Contracts/contracts/stub/Fin4ClaimingStub.sol
FIN4Contracts/contracts/stub/MintingStub.sol
FIN4Contracts/contracts/stub/SaveMeTokenStub.sol
FIN4Contracts/contracts/tcr/Parameterizer.sol
FIN4Contracts/contracts/tcr/ParameterizerFactory.sol
FIN4Contracts/contracts/tcr/Registry.sol
FIN4Contracts/contracts/tcr/RegistryFactory.sol
FIN4Contracts/contracts/tcr/PLCR/PLCRFactory.sol
FIN4Contracts/contracts/tcr/PLCR/PLCRVoting.sol
FIN4Contracts/contracts/tcr/PLCR/ProxyFactory.sol
FIN4Contracts/contracts/tcr/PLCR/dependencies/AttributeStore.sol
FIN4Contracts/contracts/tcr/PLCR/dependencies/DLL.sol
FIN4Contracts/contracts/tokens/ERC20Plus.sol
FIN4Contracts/contracts/tokens/GOV.sol
FIN4Contracts/contracts/tokens/REP.sol
FIN4Contracts/contracts/underlyings/BaseSourcerer.sol
FIN4Contracts/contracts/underlyings/BurnSourcerer.sol
FIN4Contracts/contracts/underlyings/MintingSourcerer.sol
FIN4Contracts/contracts/underlyings/SuccessfulClaimNotifierInterface.sol
FIN4Contracts/contracts/underlyings/SwapSourcerer.sol
FIN4Contracts/contracts/underlyings/TestImplOfSuccClaimNotifer.sol
FIN4Contracts/contracts/util/Migrations.sol
FIN4Contracts/contracts/util/strings.sol
FIN4Contracts/contracts/util/Trigonometry.sol
FIN4Contracts/contracts/util/utils.sol
FIN4Contracts/contracts/verifiers/Fin4BaseVerifierType.sol
FIN4Contracts/contracts/verifiers/inactive/Idea.sol
FIN4Contracts/contracts/verifiers/inactive/Location_frontendCalc.sol
FIN4Contracts/contracts/verifiers/inactive/MaximumQuantityPerInterval.sol
FIN4Contracts/contracts/verifiers/inactive/MinimumInterval.sol
FIN4Contracts/contracts/verifiers/inactive/Networking.sol
FIN4Contracts/contracts/verifiers/inactive/SelfieTogether.sol
FIN4Contracts/contracts/verifiers/inactive/SensorOneTimeSignal.sol
FIN4Contracts/contracts/verifiers/inactive/Vote.sol
FIN4Contracts/contracts/verifiers/onchain/interactive/HappyMoment.sol
FIN4Contracts/contracts/verifiers/onchain/interactive/Location.sol
FIN4Contracts/contracts/verifiers/onchain/interactive/Password.sol
FIN4Contracts/contracts/verifiers/onchain/interactive/SelfApprove.sol
FIN4Contracts/contracts/verifiers/onchain/interactive/Statement.sol
FIN4Contracts/contracts/verifiers/onchain/noninteractive/AllowOnlyThese.sol
FIN4Contracts/contracts/verifiers/onchain/noninteractive/Blocker.sol
FIN4Contracts/contracts/verifiers/onchain/noninteractive/BlockThese.sol
FIN4Contracts/contracts/verifiers/onchain/noninteractive/ClaimableOnlyNTimesPerUser.sol
FIN4Contracts/contracts/verifiers/onchain/social/ApprovalByUsersOrGroups.sol
FIN4Contracts/contracts/verifiers/onchain/social/LimitedVoting.sol
FIN4Contracts/contracts/verifiers/onchain/social/PictureGivenApprovers.sol
FIN4Contracts/contracts/verifiers/onchain/social/PictureSelfChosenApprover.sol
FIN4Contracts/contracts/verifiers/onchain/social/PictureVoting.sol
FIN4Contracts/contracts/verifiers/onchain/social/SpecificAddress.sol
FIN4Contracts/contracts/verifiers/onchain/social/TokenCreatorApproval.sol
FIN4Contracts/contracts/verifiers/onchain/social/VideoVoting.sol
FIN4Contracts/migrations/1_initial_migration.js
FIN4Contracts/migrations/2_deploy_contracts.js
FIN4Contracts/migrations/3_deploy_tcr.js
FIN4OracleEngine/.gitignore
FIN4OracleEngine/data_database.db
FIN4OracleEngine/index.js
FIN4OracleEngine/LICENSE
FIN4OracleEngine/package.json
FIN4OracleEngine/README.md
FIN4OracleEngine/token_database.db
FIN4OracleEngine/public/index.html
FIN4OracleEngine/public/measurements.html
FIN4OracleEngine/public/send.html
FIN4OracleEngine/public/assets/animated_sign.gif
FIN4OracleEngine/public/assets/background.jpg
FIN4OracleEngine/public/assets/circle-cropped.png
FIN4OracleEngine/public/assets/hey.png
FIN4OracleEngine/public/assets/myqrcode.png
FIN4OracleEngine/public/assets/redx.png
FIN4OracleEngine/public/assets/redx2.png
FIN4OracleEngine/public/assets/saveMe.jpg
FIN4OracleEngine/public/assets/send.png
FIN4OracleEngine/public/assets/tick.png
FIN4OracleEngine/public/assets/tick2.png
FIN4OracleEngine/public/assets/toxic_sugar.gif
FIN4OracleEngine/public/assets/transparent.png
FIN4OracleEngine/public/assets/warning_sound.mp3
FIN4OracleEngine/public/assets/warning2.png
FIN4OracleEngine/public/assets/favicon/android-chrome-36x36.png
FIN4OracleEngine/public/assets/favicon/android-chrome-48x48.png
FIN4OracleEngine/public/assets/favicon/android-chrome-72x72.png
FIN4OracleEngine/public/assets/favicon/android-chrome-96x96.png
FIN4OracleEngine/public/assets/favicon/android-chrome-144x144.png
FIN4OracleEngine/public/assets/favicon/android-chrome-192x192.png
FIN4OracleEngine/public/assets/favicon/android-chrome-256x256.png
FIN4OracleEngine/public/assets/favicon/android-chrome-384x384.png
FIN4OracleEngine/public/assets/favicon/android-chrome-512x512.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-57x57-precomposed.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-57x57.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-60x60-precomposed.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-60x60.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-72x72-precomposed.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-72x72.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-76x76-precomposed.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-76x76.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-114x114-precomposed.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-114x114.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-120x120-precomposed.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-120x120.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-144x144-precomposed.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-144x144.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-152x152-precomposed.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-152x152.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-180x180-precomposed.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-180x180.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon-precomposed.png
FIN4OracleEngine/public/assets/favicon/apple-touch-icon.png
FIN4OracleEngine/public/assets/favicon/browserconfig.xml
FIN4OracleEngine/public/assets/favicon/favicon-16x16.png
FIN4OracleEngine/public/assets/favicon/favicon-32x32.png
FIN4OracleEngine/public/assets/favicon/favicon.ico
FIN4OracleEngine/public/assets/favicon/mstile-144x144.png
FIN4OracleEngine/public/assets/favicon/mstile-150x150.png
FIN4OracleEngine/public/assets/favicon/safari-pinned-tab.svg
FIN4OracleEngine/public/assets/favicon/site.webmanifest
FIN4Xplorer/src/build/contracts/AllowOnlyThese.json
FIN4Xplorer/src/build/contracts/ApprovalByUsersOrGroups.json
FIN4Xplorer/src/build/contracts/AttributeStore.json
FIN4Xplorer/src/build/contracts/BaseSourcerer.json
FIN4Xplorer/src/build/contracts/Blocker.json
FIN4Xplorer/src/build/contracts/BlockThese.json
FIN4Xplorer/src/build/contracts/BurningStub.json
FIN4Xplorer/src/build/contracts/BurnSourcerer.json
FIN4Xplorer/src/build/contracts/ClaimableOnlyNTimesPerUser.json
FIN4Xplorer/src/build/contracts/Context.json
FIN4Xplorer/src/build/contracts/DLL.json
FIN4Xplorer/src/build/contracts/ERC20.json
FIN4Xplorer/src/build/contracts/ERC20Burnable.json
FIN4Xplorer/src/build/contracts/ERC20Capped.json
FIN4Xplorer/src/build/contracts/ERC20Detailed.json
FIN4Xplorer/src/build/contracts/ERC20Mintable.json
FIN4Xplorer/src/build/contracts/ERC20Pausable.json
FIN4Xplorer/src/build/contracts/ERC20Plus.json
FIN4Xplorer/src/build/contracts/ERC20PlusCapped.json
FIN4Xplorer/src/build/contracts/Fin4BaseVerifierType.json
FIN4Xplorer/src/build/contracts/Fin4BaseVerifierTypeStub.json
FIN4Xplorer/src/build/contracts/Fin4CappedTokenCreator.json
FIN4Xplorer/src/build/contracts/Fin4Claiming.json
FIN4Xplorer/src/build/contracts/Fin4ClaimingStub.json
FIN4Xplorer/src/build/contracts/Fin4Collections.json
FIN4Xplorer/src/build/contracts/Fin4Groups.json
FIN4Xplorer/src/build/contracts/Fin4Main.json
FIN4Xplorer/src/build/contracts/Fin4Messaging.json
FIN4Xplorer/src/build/contracts/Fin4OracleHub.json
FIN4Xplorer/src/build/contracts/Fin4SystemParameters.json
FIN4Xplorer/src/build/contracts/Fin4Token.json
FIN4Xplorer/src/build/contracts/Fin4TokenBase.json
FIN4Xplorer/src/build/contracts/Fin4TokenCapped.json
FIN4Xplorer/src/build/contracts/Fin4TokenCreator.json
FIN4Xplorer/src/build/contracts/Fin4TokenManagement.json
FIN4Xplorer/src/build/contracts/Fin4TokenStub.json
FIN4Xplorer/src/build/contracts/Fin4UncappedTokenCreator.json
FIN4Xplorer/src/build/contracts/Fin4Underlyings.json
FIN4Xplorer/src/build/contracts/Fin4UnderlyingsStub.json
FIN4Xplorer/src/build/contracts/Fin4Verifying.json
FIN4Xplorer/src/build/contracts/Fin4Voting.json
FIN4Xplorer/src/build/contracts/GOV.json
FIN4Xplorer/src/build/contracts/HappyMoment.json
FIN4Xplorer/src/build/contracts/Idea.json
FIN4Xplorer/src/build/contracts/IERC20.json
FIN4Xplorer/src/build/contracts/LimitedVoting.json
FIN4Xplorer/src/build/contracts/Location.json
FIN4Xplorer/src/build/contracts/MaximumQuantityPerInterval.json
FIN4Xplorer/src/build/contracts/Migrations.json
FIN4Xplorer/src/build/contracts/MinimumInterval.json
FIN4Xplorer/src/build/contracts/MinterRole.json
FIN4Xplorer/src/build/contracts/MintingSourcerer.json
FIN4Xplorer/src/build/contracts/MintingStub.json
FIN4Xplorer/src/build/contracts/Networking.json
FIN4Xplorer/src/build/contracts/Parameterizer.json
FIN4Xplorer/src/build/contracts/ParameterizerFactory.json
FIN4Xplorer/src/build/contracts/Password.json
FIN4Xplorer/src/build/contracts/Pausable.json
FIN4Xplorer/src/build/contracts/PauserRole.json
FIN4Xplorer/src/build/contracts/PictureGivenApprovers.json
FIN4Xplorer/src/build/contracts/PictureSelfChosenApprover.json
FIN4Xplorer/src/build/contracts/PictureVoting.json
FIN4Xplorer/src/build/contracts/PLCRFactory.json
FIN4Xplorer/src/build/contracts/PLCRVoting.json
FIN4Xplorer/src/build/contracts/ProxyFactory.json
FIN4Xplorer/src/build/contracts/Registry.json
FIN4Xplorer/src/build/contracts/RegistryFactory.json
FIN4Xplorer/src/build/contracts/REP.json
FIN4Xplorer/src/build/contracts/Roles.json
FIN4Xplorer/src/build/contracts/SafeMath.json
FIN4Xplorer/src/build/contracts/SelfApprove.json
FIN4Xplorer/src/build/contracts/SensorOneTimeSignal.json
FIN4Xplorer/src/build/contracts/SensorSignalSubscriber.json
FIN4Xplorer/src/build/contracts/SpecificAddress.json
FIN4Xplorer/src/build/contracts/Statement.json
FIN4Xplorer/src/build/contracts/Strings.json
FIN4Xplorer/src/build/contracts/strings.json
FIN4Xplorer/src/build/contracts/SuccessfulClaimNotifierInterface.json
FIN4Xplorer/src/build/contracts/SwapSourcerer.json
FIN4Xplorer/src/build/contracts/TestImplOfSuccClaimNotifer.json
FIN4Xplorer/src/build/contracts/TokenCreatorApproval.json
FIN4Xplorer/src/build/contracts/Trigonometry.json
FIN4Xplorer/src/build/contracts/utils.json
FIN4Xplorer/src/build/contracts/VideoVoting.json
FIN4Xplorer/src/build/contracts/Vote.json
FIN4Xplorer1/src/build/contracts/AllowOnlyThese.json
FIN4Xplorer1/src/build/contracts/ApprovalByUsersOrGroups.json
FIN4Xplorer1/src/build/contracts/AttributeStore.json
FIN4Xplorer1/src/build/contracts/BaseSourcerer.json
FIN4Xplorer1/src/build/contracts/Blocker.json
FIN4Xplorer1/src/build/contracts/BlockThese.json
FIN4Xplorer1/src/build/contracts/BurningStub.json
FIN4Xplorer1/src/build/contracts/BurnSourcerer.json
FIN4Xplorer1/src/build/contracts/ClaimableOnlyNTimesPerUser.json
FIN4Xplorer1/src/build/contracts/Context.json
FIN4Xplorer1/src/build/contracts/DLL.json
FIN4Xplorer1/src/build/contracts/ERC20.json
FIN4Xplorer1/src/build/contracts/ERC20Burnable.json
FIN4Xplorer1/src/build/contracts/ERC20Capped.json
FIN4Xplorer1/src/build/contracts/ERC20Detailed.json
FIN4Xplorer1/src/build/contracts/ERC20Mintable.json
FIN4Xplorer1/src/build/contracts/ERC20Pausable.json
FIN4Xplorer1/src/build/contracts/ERC20Plus.json
FIN4Xplorer1/src/build/contracts/ERC20PlusCapped.json
FIN4Xplorer1/src/build/contracts/Fin4BaseVerifierType.json
FIN4Xplorer1/src/build/contracts/Fin4BaseVerifierTypeStub.json
FIN4Xplorer1/src/build/contracts/Fin4CappedTokenCreator.json
FIN4Xplorer1/src/build/contracts/Fin4Claiming.json
FIN4Xplorer1/src/build/contracts/Fin4ClaimingStub.json
FIN4Xplorer1/src/build/contracts/Fin4Collections.json
FIN4Xplorer1/src/build/contracts/Fin4Groups.json
FIN4Xplorer1/src/build/contracts/Fin4Main.json
FIN4Xplorer1/src/build/contracts/Fin4Messaging.json
FIN4Xplorer1/src/build/contracts/Fin4OracleHub.json
FIN4Xplorer1/src/build/contracts/Fin4SystemParameters.json
FIN4Xplorer1/src/build/contracts/Fin4Token.json
FIN4Xplorer1/src/build/contracts/Fin4TokenBase.json
FIN4Xplorer1/src/build/contracts/Fin4TokenCapped.json
FIN4Xplorer1/src/build/contracts/Fin4TokenCreator.json
FIN4Xplorer1/src/build/contracts/Fin4TokenManagement.json
FIN4Xplorer1/src/build/contracts/Fin4TokenStub.json
FIN4Xplorer1/src/build/contracts/Fin4UncappedTokenCreator.json
FIN4Xplorer1/src/build/contracts/Fin4Underlyings.json
FIN4Xplorer1/src/build/contracts/Fin4UnderlyingsStub.json
FIN4Xplorer1/src/build/contracts/Fin4Verifying.json
FIN4Xplorer1/src/build/contracts/Fin4Voting.json
FIN4Xplorer1/src/build/contracts/GOV.json
FIN4Xplorer1/src/build/contracts/HappyMoment.json
FIN4Xplorer1/src/build/contracts/Idea.json
FIN4Xplorer1/src/build/contracts/IERC20.json
FIN4Xplorer1/src/build/contracts/LimitedVoting.json
FIN4Xplorer1/src/build/contracts/Location.json
FIN4Xplorer1/src/build/contracts/MaximumQuantityPerInterval.json
FIN4Xplorer1/src/build/contracts/Migrations.json
FIN4Xplorer1/src/build/contracts/MinimumInterval.json
FIN4Xplorer1/src/build/contracts/MinterRole.json
FIN4Xplorer1/src/build/contracts/MintingSourcerer.json
FIN4Xplorer1/src/build/contracts/MintingStub.json
FIN4Xplorer1/src/build/contracts/Networking.json
FIN4Xplorer1/src/build/contracts/Parameterizer.json
FIN4Xplorer1/src/build/contracts/ParameterizerFactory.json
FIN4Xplorer1/src/build/contracts/Password.json
FIN4Xplorer1/src/build/contracts/Pausable.json
FIN4Xplorer1/src/build/contracts/PauserRole.json
FIN4Xplorer1/src/build/contracts/PictureGivenApprovers.json
FIN4Xplorer1/src/build/contracts/PictureSelfChosenApprover.json
FIN4Xplorer1/src/build/contracts/PictureVoting.json
FIN4Xplorer1/src/build/contracts/PLCRFactory.json
FIN4Xplorer1/src/build/contracts/PLCRVoting.json
FIN4Xplorer1/src/build/contracts/ProxyFactory.json
FIN4Xplorer1/src/build/contracts/Registry.json
FIN4Xplorer1/src/build/contracts/RegistryFactory.json
FIN4Xplorer1/src/build/contracts/REP.json
FIN4Xplorer1/src/build/contracts/Roles.json
FIN4Xplorer1/src/build/contracts/SafeMath.json
FIN4Xplorer1/src/build/contracts/SelfApprove.json
FIN4Xplorer1/src/build/contracts/SensorOneTimeSignal.json
FIN4Xplorer1/src/build/contracts/SensorSignalSubscriber.json
FIN4Xplorer1/src/build/contracts/SpecificAddress.json
FIN4Xplorer1/src/build/contracts/Statement.json
FIN4Xplorer1/src/build/contracts/Strings.json
FIN4Xplorer1/src/build/contracts/strings.json
FIN4Xplorer1/src/build/contracts/SuccessfulClaimNotifierInterface.json
FIN4Xplorer1/src/build/contracts/SwapSourcerer.json
FIN4Xplorer1/src/build/contracts/TestImplOfSuccClaimNotifer.json
FIN4Xplorer1/src/build/contracts/TokenCreatorApproval.json
FIN4Xplorer1/src/build/contracts/Trigonometry.json
FIN4Xplorer1/src/build/contracts/utils.json
FIN4Xplorer1/src/build/contracts/VideoVoting.json
FIN4Xplorer1/src/build/contracts/Vote.json
